@{
    ViewData["Title"] = "E-Yama";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">SEPET</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Ana Sayfa</a></li>
                    <li class="active">Sepet</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Gönderi Adresi</h3>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="first-name" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="last-name" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <input class="input" type="email" name="email" placeholder="E-posta">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="address" placeholder="Adres">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="city" placeholder="Şehir">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="country" placeholder="Ülke">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="zip-code" placeholder="Posta kodu">
                    </div>
                    <div class="form-group">
                        <input class="input" type="tel" name="tel" placeholder="Telefon">
                    </div>
                    <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="create-account">
                            <label for="create-account">
                                <span></span>
                                Yeni hesap oluştur?
                            </label>
                            <div class="caption">
                                <p>Yeni hesap oluşturun.</p>
                                <input class="input" type="password" name="password" placeholder="Şifrenizi giriniz">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Billing Details -->
                <!-- Shiping Details -->
                <div class="shiping-details">
                    <div class="section-title">
                        <h3 class="title">Fatura Adresi</h3>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="shiping-address">
                        <label for="shiping-address">
                            <span></span>
                            Farklı bir adrese gönderilsin mi?
                        </label>
                        <div class="caption">
                            <div class="form-group">
                                <input class="input" type="text" name="first-name" placeholder="Ad">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="last-name" placeholder="Soyad">
                            </div>
                            <div class="form-group">
                                <input class="input" type="email" name="email" placeholder="E-posta">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="address" placeholder="Adres">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="city" placeholder="Şehir">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="country" placeholder="Ülke">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="zip-code" placeholder="Posta kodu">
                            </div>
                            <div class="form-group">
                                <input class="input" type="tel" name="tel" placeholder="Telefon">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Shiping Details -->
                <!-- Order notes -->
                <div class="order-notes">
                    <textarea class="input" placeholder="Sipariş Notları"></textarea>
                </div>
                <!-- /Order notes -->
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title"></h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>Ürün</strong></div>
                        <div><strong>Toplam</strong></div>
                    </div>
                    <div class="order-products">
                        <div class="order-col">
                            <div>Ürün adı</div>
                            <div>Fiyatı TL</div>
                        </div>
                        <div class="order-col">
                            <div>2x Ürün adı</div>
                            <div>Fiyatı TL</div>
                        </div>
                    </div>
                    <div class="order-col">
                        <div>Kargo</div>
                        <div><strong>Ücretsiz</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>Genel Toplam</strong></div>
                        <div><strong class="order-total">100 TL</strong></div>
                    </div>
                </div>
                <div class="payment-method">
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment-1">
                        <label for="payment-1">
                            <span></span>
                            Kredi / Banka Kartı
                        </label>
                        <div class="caption">
                            <p>Kredi veya Banka kartınız ile ödeyin.</p>
                        </div>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment-2">
                        <label for="payment-2">
                            <span></span>
                            Çoklu Kredi Kartı
                        </label>
                        <div class="caption">
                            <p>Ödemenizi istediğiniz tutarlarda iki kredi kartına paylaştırarak tamamlayabilirsiniz.</p>
                        </div>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment-3">
                        <label for="payment-3">
                            <span></span>
                            Havale
                        </label>
                        <div class="caption">
                            <p>Havale yaparak ödeyin</p>
                        </div>
                    </div>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">
                        <span></span>
                        Şartlar ve koşulları okudum ve kabul ediyorum
                    </label>
                </div>
                <a href="#" class="primary-btn order-submit">Sipariş Ver</a>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

